#mansion-home-page
  position: relative
  padding-top: 95vh

#mansion-navbar
  &:not(.sticky)
    margin-bottom: -140px

.banner-carousel
  position: absolute
  top: 0
  height: 95vh
  width: 100%
  background-color: black
  background-size: cover
  background-position: 50% 50%
  transition: opacity 1s
  opacity: 0